In [2]:
import json

In [3]:
import pandas as pd

In [39]:
data = """
{
    "quiz": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}
"""

In [40]:
data = json.loads(data)

In [45]:
df1 = pd.json_normalize(data['quiz']['sport'])

In [46]:
print(df1)

                              q1.question  \
0  Which one is correct team name in NBA?

                                          q1.options      q1.answer
0  [New York Bulls, Los Angeles Kings, Golden Sta...  Huston Rocket

In [27]:
df1Final = pd.DataFrame()
df2Final = pd.DataFrame()
dfFinal = pd.DataFrame()
print(df1Final)

Empty DataFrame
Columns: []
Index: []

In [31]:
for i in range(0,5):
    df1 = pd.json_normalize(data['users'])
#     for j in range(0,4):
#         df2 = pd.json_normalize(data['bills'][i]['tiers'][j])
#         df2Final = pd.concat([df2Final, df2])
    df1Final = pd.concat([df1Final, df1])

In [32]:
print(df1Final)

   userId firstName lastName phoneNumber                        emailAddress
0       1     Krish      Lee      123456     krish.lee@learningcontainer.com
1       2     racks   jacson      123456  racks.jacson@learningcontainer.com
2       3    denial    roast    33333333  denial.roast@learningcontainer.com
3       4     devid      neo   222222222     devid.neo@learningcontainer.com
4       5      jone      mac   111111111      jone.mac@learningcontainer.com
0       1     Krish      Lee      123456     krish.lee@learningcontainer.com
1       2     racks   jacson      123456  racks.jacson@learningcontainer.com
2       3    denial    roast    33333333  denial.roast@learningcontainer.com
3       4     devid      neo   222222222     devid.neo@learningcontainer.com
4       5      jone      mac   111111111      jone.mac@learningcontainer.com
0       1     Krish      Lee      123456     krish.lee@learningcontainer.com
1       2     racks   jacson      123456  racks.jacson@learningcontainer.com
2       3    denial    roast    33333333  denial.roast@learningcontainer.com
3       4     devid      neo   222222222     devid.neo@learningcontainer.com
4       5      jone      mac   111111111      jone.mac@learningcontainer.com
0       1     Krish      Lee      123456     krish.lee@learningcontainer.com
1       2     racks   jacson      123456  racks.jacson@learningcontainer.com
2       3    denial    roast    33333333  denial.roast@learningcontainer.com
3       4     devid      neo   222222222     devid.neo@learningcontainer.com
4       5      jone      mac   111111111      jone.mac@learningcontainer.com
0       1     Krish      Lee      123456     krish.lee@learningcontainer.com
1       2     racks   jacson      123456  racks.jacson@learningcontainer.com
2       3    denial    roast    33333333  denial.roast@learningcontainer.com
3       4     devid      neo   222222222     devid.neo@learningcontainer.com
4       5      jone      mac   111111111      jone.mac@learningcontainer.com
0       1     Krish      Lee      123456     krish.lee@learningcontainer.com
1       2     racks   jacson      123456  racks.jacson@learningcontainer.com
2       3    denial    roast    33333333  denial.roast@learningcontainer.com
3       4     devid      neo   222222222     devid.neo@learningcontainer.com
4       5      jone      mac   111111111      jone.mac@learningcontainer.com